---
title: Markdown Globbing
section: Markdown Helpers
---

<h1>Options</h1>
{{md 'src/content/wiki/options.md'}}
{{md 'src/content/wiki/options-*.md'}}


<h1>Templates</h1>
{{md 'src/content/wiki/templates-*.md'}}


<h1>Data</h1>
{{md 'src/content/wiki/data.md'}}
{{md 'src/content/wiki/data-*.md'}}
