<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{assets}}/assemble.css">
    <link rel="stylesheet" href="{{assets}}/github.css">
  </head>
  <body style="background: white;">


    <!-- Navbar 
    ============================================== -->
    {{> navbar }}


    <!-- Subhead
    ============================================== -->
    <header class="masthead subhead">
      <div class="container">
        <div class="row">
          <div class="col col-lg-12">
            <h1><span class="text-muted">Docs /</span> {{#if section}}{{ section }} {{else}} Markdown {{/if}}</h1>
          </div>
        </div>
      </div>
    </header>


    <!-- Page content
    ============================================== -->
    <div class="container">
      <div class="col col-lg-3">
        {{> sidenav }}
      </div>
      
      <div class="col col-lg-9 panel-docs">
        {{> body }}
      </div>
    </div>
    
    <script src="{{assets}}/highlight.js"></script>
  </body>
</html>